/*============ Theme Colors ============*/
$dark: #231f20;
$orangered: #f95951;

/*============ Reusable Properties ============*/
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%large-title {
  font-size: 45px;
  @media screen and (max-width: 601px) {
    font-size: 30px;
  }
  @media screen and (max-width: 460px) {
    font-size: 28px;
  }
}

%medium-title {
  font-size: 30px;
  @media screen and (max-width: 601px) {
    font-size: 20px;
  }
  @media screen and (max-width: 460px) {
    font-size: 18px;
  }
}

%normal-text {
  font-size: 18px;
  @media screen and (max-width: 601px) {
    font-size: 15px;
  }
  @media screen and (max-width: 460px) {
    font-size: 13px;
  }
}

%transparent-button {
  border: 2px solid $orangered;
  color: $orangered;
  background-color: transparent;
  &:hover {
    background-color: $orangered;
    color: white;
  }
}

%orangered-button {
  border: 2px solid $orangered;
  color: white;
  background-color: $orangered;
  &:hover {
    background-color: white;
    color: $orangered;
  }
}
