@import './variables';
@import './mixins';

/*============ Global Styles ============*/
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  line-height: 2;
  font-size: 1.2em;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  transition: background-color 0.2s ease-in-out;
}

section {
  min-height: 70vh;
  padding: 4rem 0;
}

ul {
  padding: 0;
  margin: 0;
}

header {
  position: relative;
}

/*============ Pencil Ad ============*/
.pencil-ad {
  padding: 1rem 0;
  text-align: center;
  background: $dark;
  color: white;
  position: relative;
  z-index: 10;
  b {
    text-decoration: underline;
  }
}

/*============ Navigation ============*/
.mobile-nav {
  z-index: 10;
  display: none;
  text-align: center;
  padding: 1rem;
  background: white;
  position: relative;
  @include tablet {
    display: block;
  }
  @include mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    @include mobile {
      width: 20rem;
    }
  }
  a {
    display: none;
    font-size: 2.5rem;
    width: 6rem;
    @include mobile {
      display: block;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.navbar {
  width: 100%;
  display: flex;
  position: absolute;
  transition: all 0.5s ease-in-out;
  @include mobile {
    transform: translateY(-100%);
    opacity: 0;
    &.active {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.nav-list {
  width: 100%;
  display: flex;
  list-style-type: none;
  @include mobile {
    flex-direction: column;
  }
  .has-horizontal-logo {
    padding: 0 6rem;
    @include tablet {
      display: none;
    }
  }
  span {
    z-index: 10;
    width: 100%;
    background: white;
  }
}

.nav-item {
  z-index: 10;
  display: flex;
  justify-content: center;
  background: white;
  &.login {
    padding: 0 1rem;
    @include mobile {
      position: static;
      text-transform: uppercase;
    }
  }
  &.box-hover {
    padding: 0 1rem;
    @include mobile {
      position: static;
    }
  }
  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 1.5rem;
    &.active {
      color: $orangered;
    }
  }
}

.dropdown {
  .dropbtn {
    width: 100%;
    z-index: 10;
    position: relative;
    border: none;
    outline: none;
    background: white;
    margin: 0;
    white-space: nowrap;
    padding: 2.5rem;
    font: inherit;
  }
  .dropdown-content {
    position: absolute;
    width: 100%;
    left: 0;
    background: white;
    box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    .dropbtn {
      color: $orangered;
    }
    .dropdown-content {
      transform: translateY(0);
      opacity: 1;
      @include mobile {
        z-index: 20;
      }
    }
  }
}

.dropdown-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 10rem;
  @include tablet {
    padding: 2.5rem 5rem;
  }
  @include mobile {
    padding: 1.25rem 2.5rem;
  }
  .has-image {
    @include tablet {
      display: none;
    }
  }
}

.column {
  color: $dark;
  min-width: 15rem;
  list-style-type: none;
  h4 {
    font-weight: bold;
    @include tablet {
      margin-left: 25%;
    }
  }
  li {
    a {
      padding: 0.5rem 0;
      display: block;
      @include tablet {
        margin-left: 25%;
      }
      &:hover {
        color: $orangered;
      }
    }
  }
}

/*============ Hero ============*/
.hero {
  height: 80vh;
  background: url(./../assets/images/hero-bg.png) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -10;
}

.hero-text {
  width: 80%;
  color: $dark;
  @media screen and (max-width: 676px) {
    width: 95%;
    text-align: center;
  }
  h1 {
    @include large-title;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem;
    @include normal-text;
  }
  button {
    @include orangered-button;
  }
}

/*============ Buy It By The Box ============*/
.buy-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: $dark;
  h1 {
    @include medium-title;
    margin: 0;
    padding: 0;
  }
  p {
    @include normal-text;
    max-width: 55rem;
  }
  button {
    @include orangered-button;
    margin-top: 3rem;
  }
}

.step-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
  li {
    font-size: 1.4rem;
    margin: 0.1rem 6rem;
    position: relative;
    min-width: 27rem;
    line-height: 1.5;
    h1 {
      font-size: 18rem;
      color: $orangered;
      margin: 0;
      padding: 0;
    }
    p {
      text-align: left;
      width: 70%;
      position: absolute;
      top: 35%;
      font-size: inherit;
      font-weight: 600;
      white-space: nowrap;
      color: $dark;
      &:after {
        content: '';
        background: $dark;
        height: 1px;
        display: block;
        width: 100%;
      }
    }
    span {
      text-align: left;
      position: absolute;
      top: 50%;
      left: 0;
    }
  }
}

/*============ Drinks ============*/
.drinks {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: url(./../assets/images/drinks-bg.png) no-repeat center;
  background-size: cover;
  color: $dark;
  @include mobile {
    justify-content: center;
  }
  h1 {
    @include large-title;
    margin: 0;
  }
  hr {
    @include orangered-hr;
  }
}

.drinks-group {
  margin: 0;
  h2 {
    @include medium-title;
    margin: 0;
  }
  p {
    @include normal-text;
    max-width: 45rem;
  }
  button {
    @include transparent-button;
    margin-top: 15%;
  }
}

/*============ Pick Your Pleasure ============*/
.pick-your-pleasure {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  h1 {
    @include medium-title;
    margin: 0;
  }
  p {
    @include normal-text;
    max-width: 45rem;
  }
  hr {
    @include orangered-hr;
  }
  button {
    @include transparent-button;
    margin-top: 3rem;
  }
}

.drink-list {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    margin: 1.5rem;
  }
}

.overlay-container {
  position: relative;
  display: flex;
  .img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 32rem;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    font-weight: bolder;
    color: $orangered;
    border: 2px solid $orangered;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
  }
}

/*============ Cleanse ============*/
.cleanse {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: url(./../assets/images/cleanse-bg.png) no-repeat center;
  background-size: cover;
  color: $dark;
  @include mobile {
    justify-content: center;
  }
  h1 {
    @include large-title;
    margin: 0;
  }
  hr {
    @include orangered-hr;
  }
}

.cleanse-group {
  margin: 0;
  h2 {
    @include medium-title;
    margin: 0;
  }
  p {
    @include normal-text;
    max-width: 55rem;
  }
  & > button {
    margin-top: 15%;
    @include transparent-button;
  }
}

/*============ Locations ============*/
.locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  h1 {
    @include large-title;
    margin: 0;
  }
  button {
    @include transparent-button;
  }
}

.locations-list {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    flex-direction: column;
    margin: 1.5rem;
    .overlay-container {
      width: 30rem;
      height: 20rem;
      overflow: hidden;
    }
  }
}

.card-body {
  margin-top: 1rem;
  h3 {
    color: $orangered;
    margin: 0;
  }
  p {
    color: $dark;
    margin: -0.5rem 0;
  }
}

/*============ Footer ============*/
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-top: 1px solid lightgray;
  padding: 2.5rem 10rem;
  @include mobile {
    padding: 1rem;
  }
}

.subscribe {
  min-width: 40%;
  margin-top: 3rem;
  h4 {
    color: $dark;
    font-size: 2rem;
    margin: 0;
    @include mobile {
      text-align: center;
    }
  }
  .field {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    @include mobile {
      justify-content: center;
    }
    input {
      padding: 1rem;
      font-size: 1.8rem;
      margin-right: 1rem;
      align-self: center;
      width: 32rem;
      @include mobile {
        width: 80%;
        margin-bottom: 1rem;
      }
    }
    button {
      @include transparent-button;
      padding: 1rem 3.5rem;
      display: inline;
      align-self: center;
    }
  }
}

.footer-links-row {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-width: 40%;
  margin-top: 3rem;
  @include mobile {
    justify-content: flex-start;
  }
  ul {
    list-style-type: none;
    h4 {
      margin: 0 0 2rem;
      @include tablet {
        margin-left: 25%;
      }
      @include mobile {
        margin-top: 2rem;
      }
    }
    a {
      padding: 0;
    }
  }
}
