@import './variables';

/*============ Media Query Triggers ============*/
@mixin medium {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: 750px) {
    @content;
  }
}

/*============ Global Styles ============*/
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  line-height: 2;
  font-size: 1.2em;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  transition: background-color 0.2s ease-in-out;
}

section {
  min-height: 70vh;
  padding: 4rem 0;
}

ul {
  padding: 0;
  margin: 0;
}

/*============ Pencil Ad ============*/
.pencil-ad {
  background: $dark;
  color: white;
  padding: 1rem 0;
  text-align: center;

  & > b {
    text-decoration: underline;
  }
}

/*============ Navigation ============*/
.mobile-nav {
  display: none;
  text-align: center;
  padding: 1rem;
  @include medium {
    display: block;
  }
  @include small {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & > img {
    @include small {
      width: 20rem;
    }
  }
  & > a {
    display: none;
    font-size: 2.5rem;
    width: 6rem;
    @include small {
      display: block;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.navbar {
  display: flex;
  overflow: hidden;
  justify-content: space-around;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
  @include small {
    flex-direction: column;
    max-height: 0;
  }
  &.active {
    max-height: 100%;
  }
  .has-horizontal-logo {
    padding: 0 6rem;
    @include medium {
      display: none;
    }
  }
}

.nav-item {
  &.login {
    position: absolute;
    left: 2rem;
    @include small {
      position: static;
      text-transform: uppercase;
    }
  }
  &.box-hover {
    position: absolute;
    right: 2rem;
    @include small {
      position: static;
    }
  }
  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 1.5rem;
    &.active {
      color: $orangered;
    }
  }
}

.dropdown {
  .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0;
    white-space: nowrap;
    padding: 2.5rem;
    font: inherit;
  }
  .dropdown-content {
    position: absolute;
    width: 100%;
    left: 0;
    background: white;
    box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    visibility: hidden;
    transform: translateY(-5rem);
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    .dropbtn {
      color: $orangered;
    }
    .dropdown-content {
      transform: translateY(0%);
      visibility: visible;
      opacity: 1;
    }
  }
}

.dropdown-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 10rem;
  @include medium {
    padding: 2.5rem 5rem;
  }
  @include small {
    padding: 1.25rem 2.5rem;
  }
}

.column {
  color: $dark;
  min-width: 15rem;
  list-style-type: none;
  &.has-image {
    @include medium {
      display: none;
    }
  }
  h4 {
    font-weight: bold;
    @include medium {
      margin-left: 25%;
    }
  }
  li {
    a {
      padding: 0.5rem 0;
      display: block;
      @include medium {
        margin-left: 25%;
      }
      &:hover {
        color: $orangered;
      }
    }
  }
}

/*============ Hero ============*/
.hero {
  height: 80vh;
  background: url(./../assets/images/hero-bg.png) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 80%;
  color: $dark;
  @media screen and (max-width: 676px) {
    width: 95%;
    text-align: center;
  }
  & > h1 {
    margin-bottom: 1rem;
    @extend %large-title;
  }
  & > p {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    @media screen and (max-width: 601px) {
      width: 85%;
      display: block;
      margin: auto;
      margin-bottom: 2rem;
    }
  }
  & > button {
    @extend %orangered-button;
    @media screen and (max-width: 601px) {
      font-size: 1.6rem;
      width: 14rem;
    }
  }
}

/*============ Buy It By The Box ============*/
.buy-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: $dark;
  .title {
    @extend %medium-title;
    margin: 0;
    padding: 0;
  }
  .sub-paragraph {
    max-width: 55rem;
    @extend %normal-text;
  }
  & > button {
    @extend %orangered-button;
  }
}

.step-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  & > li {
    position: relative;
    .big-number {
      font-size: 18rem;
      color: $orangered;
      margin: 0;
      padding: 0;
    }
    .step-description {
      position: absolute;
      top: 35%;
      left: -30%;
      font-size: 1.4rem;
      font-weight: 600;
      width: 10rem;
      white-space: nowrap;
      color: $dark;
      &:after {
        content: '';
        background: $dark;
        height: 1px;
        display: block;
        width: 160%;
      }
    }
    .step-meta {
      position: absolute;
      top: 45%;
      left: -30%;
    }
  }
}

/*============ Drinks ============*/
.drinks {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: url(./../assets/images/drinks-bg.png) no-repeat center;
  background-size: cover;
  color: $dark;
  @media screen and (max-width: 1000px) {
    justify-content: center;
  }
  .title {
    @extend %large-title;
    margin: 0;
  }
  & > hr {
    @extend %orangered-hr;
  }
}

.drinks-group {
  margin: 0;
  .sub-title {
    @extend %medium-title;
    margin: 0;
  }
  .sub-paragraph {
    @extend %normal-text;
    max-width: 45rem;
  }
  & > button {
    margin-top: 15%;
    @extend %transparent-button;
  }
}

/*============ Pick Your Pleasure ============*/
.pick-your-pleasure {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  & > hr {
    @extend %orangered-hr;
  }
  .title {
    @extend %medium-title;
    margin: 0;
  }
  .sub-paragraph {
    @extend %normal-text;
    max-width: 45rem;
  }
  & > button {
    margin-top: 3rem;
    @extend %transparent-button;
  }
}

.drink-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & > li {
    margin: 0.5rem 1rem 0.5rem 1rem;
    position: relative;
    .overlay-container {
      width: 100%;
      & > img {
        width: 30rem;
      }
      .img-overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        font-weight: bolder;
        color: $orangered;
        border: 2px solid $orangered;
        visibility: hidden;
        cursor: pointer;
        @extend %flex-center;
      }
    }
  }
}

/*============ Cleanse ============*/
.cleanse {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: url(./../assets/images/cleanse-bg.png) no-repeat center;
  background-size: cover;
  color: $dark;
  @media screen and (max-width: 1000px) {
    justify-content: center;
  }
  & > hr {
    @extend %orangered-hr;
  }
  .title {
    @extend %large-title;
    margin: 0;
  }
}

.cleanse-group {
  margin: 0;
  & > .sub-title {
    @extend %medium-title;
    margin: 0;
  }
  & > .sub-paragraph {
    @extend %normal-text;
    max-width: 55rem;
  }
  & > button {
    margin-top: 15%;
    @extend %transparent-button;
  }
}

/*============ Locations ============*/
.locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  & > hr {
    @extend %orangered-hr;
  }
  .title {
    @extend %large-title;
    margin: 0;
  }
  & > button {
    @extend %transparent-button;
  }
}

.locations-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  & > li {
    margin: 1.5rem;
    .overlay-container {
      @extend %flex-center;
      overflow: hidden;
      position: relative;
      & > img {
        height: 18rem;
      }
      .img-overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        font-weight: bolder;
        color: $orangered;
        border: 2px solid $orangered;
        visibility: hidden;
        cursor: pointer;
        @extend %flex-center;
      }
    }
    .card-body {
      margin-top: 1rem;
      & > h3 {
        color: $orangered;
        margin: 0;
      }
      & > p {
        color: $dark;
        margin: -0.5rem 0;
      }
    }
  }
}

/*============ Footer ============*/
.footer {
  min-height: 40vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-top: 1px solid lightgray;
  padding: 0 10rem;
  @include small {
    padding: 1rem;
  }
}

.subscribe {
  margin-top: 5rem;
  h4 {
    color: $dark;
    font-size: 2rem;
    margin: 0;
  }
  .field {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    input {
      padding: 1rem;
      font-size: 1.8rem;
      margin-right: 1rem;
      align-self: center;
      width: 32rem;
    }
    button {
      @extend %transparent-button;
      padding: 1rem 3.5rem;
      display: inline;
      align-self: center;
    }
  }
}

.footer-link-categories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  ul {
    list-style-type: none;
  }
}
